* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: none;
}
#main {
    width: 80%;
    text-align: center;
    min-width: 310px;
}
.title {
    padding-top: 10px;
    font-family: 'Bangers', cursive;
    font-weight: normal;
    font-size: 70px;
    line-height: 50px;
    font-variant: small-caps;
}
a {
    text-decoration: none;
    color: black;
}
.but, #query {
    font-family: 'Alice', serif;
}
.but {
    margin: 10px auto;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    font-size: 16px;
    background: #068ACB;
    display: block;
    color: white;
}
#query {
    border: 4px solid #068ACB;
    height: 28px;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.resitem {
    text-align: left;
    border: 2px solid brown;
    border-radius: 15px;
    margin: 15px auto;
    padding: 10px;
}
.resitem h2 {
    padding-bottom: 10px;
}
.resitem p {
    font-style: italic;
}
.resitem:hover {
    box-shadow: 0 0 5px 5px grey;
}
img, .imgsp {
    width: 48px;
    height: 48px;
}
.imgsp {
    display: inline-block;
    vertical-align: bottom;
}
.imgsp:hover {
    cursor: pointer;
    opacity: 0.7;
}
.foot {
    color: black;
    margin: 10px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    width: 270px;
}
.foot a {
    color: #0275D8;
    text-decoration: none;
}
